body{
    font-family:'Microsoft sans serif';
    font-size:13px;
    margin:0;
    padding:0;
    background-color:#383838;
}

.top{
    color:black;
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:50px;
    width:100%;
    background-color:#009AB3;
    text-align:center;
}
.bot{
    color:black;
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:50px;
    width:100%;
    text-align:center;
    background-color:#009AB3;
}

.container{
    margin-top:20px;
    display:flex;
    background-color:#383838;
    height:100%;
    width:100%;
    text-align:center;
}

.formTask{
    color: #FFF;
    border-radius:10px;
    width:400;
    padding:10px;
    margin:10px;
    background-color: 383838;
}

.formTask
label {
  display: block;
  padding: 10px;
  text-align: right;
}
.formTask
input {
  display: inline-block;
}

form1{
    max-width:400px;
    margin: auto;
    background-color: #FFF;
    border:1px solid #c9cacc;
    border-radius:5px;
    padding:20px;
    margin-top:50px;
}

.innerform{
    
    margin: 0 auto;
    text-align:center;
    height:300px;
    width:300px;
}



.home{
    display:flex;
    width:100%;
    height:100%;
}




.coluns{
    width:100%;
    background-color:#4F4F51;
    border-radius:10px;
    margin:10px;
    border:1px;
}

.action{
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    border:1px;
    border-radius:5px;
    margin:10px;
    height:35px;
}

#new{
    color:#9E8C61;
    background-color:#F7DF5A;
}
#regular{
    background-color:#6CAFCE;
}
#importante{
    background-color:#F3A361;
}
#urgente{
    background-color:#EB6781;
}
#andamento{
    background-color:#6ABEAF;
}
#concluido{
    background-color:#7DBF6D;
}



.tasks{
    text-align:left;
    border-radius:5px;
    margin:auto;
    margin:10px;
    padding:5px;
    background-color:#FFFFFF;
}
#tasksRegular{
    border-left:5px solid #6CAFCE;
}
#tasksImportante{
    border-left:5px solid #F3A361; 
}
#tasksUrgente{
    border-left:5px solid #EB6781;
}
#tasksAndamento{
    border-left:5px solid #6ABEAF;
}
#tasksConcluido{
    border-left:5px solid #7DBF6D;
}

.task{
    margin-left:10px;
}

.task h3{
    font-weight: bold;
}
.task img{
    width:25px;
    height:25px;
}

.date{
    display: flex;
    text
}

.date p{
    margin:1px;
    border-radius:5px;
    height:auto;
    width:auto; 
}

#dateStart{
    background-color:#7DBF6D;
}
#dateDone{
    background-color:#EB6781;
}

.po{
    display:flex;
}

.taskIcons{
    margin:auto;
}

.taskDates{
    margin:auto;
}